@media (min-width: 1120px) {
  body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    margin: 5rem 2rem 0;

    .header {
      grid-column: 1/7;
      grid-row: 1/2;
      text-align: left;
      margin-top: 10rem;

      h1 {
        font-size: 3rem;
        line-height: 1.1em;
      }
      p {
        margin: 0;
        margin-top: 2rem;
        max-width: 700px;
        width: 100%;
      }
    }
    
    .main {
      grid-column: 7/13;
      grid-row: 1/2;
      width: 100%;
      max-width: 700px;

      form {
        padding: 2rem;
      }
    }
    footer {
      grid-column: 1/13;
      grid-row: 2/3;
    }
  }
}

@media (min-width: 1230px) {
  body {
    margin: 5rem 7rem 0;
  }
}