@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px "Poppins", sans-serif;
  background-image: url("./images/bg-intro-mobile.png");
  background-color: #ff7a7a;
  color: #fff;
  text-align: center;
}

.header {
  margin-top: 5rem;
}
.header h1 {
  font-size: 1.8rem;
  line-height: 1.3em;
}
.header p {
  width: 90%;
  max-width: 510px;
  margin: 2rem auto 4rem;
  font-size: 1.1rem;
}

.main {
  max-width: 510px;
  margin: 0 auto;
}
.main .try-free {
  background-color: #6055a5;
  padding: 1.5rem;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.main .try-free h4 {
  font-size: 1.2rem;
}
.main .try-free h4 span {
  font-size: 1rem;
  font-weight: 400;
}
.main form {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}
.main form .form-group {
  position: relative;
  padding-bottom: 2rem;
}
.main form .form-group input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: #3e3c49;
  font-size: 0.8rem;
  font-weight: 700;
}
.main form .form-group input:focus {
  border-color: #6055a5;
}
.main form .form-group img {
  display: none;
}
.main form .form-group small {
  display: none;
}
.main form .form-group.error input {
  border-color: #ff7a7a;
}
.main form .form-group.error img {
  display: block;
  position: absolute;
  top: 0.8em;
  right: 0.5em;
}
.main form .form-group.error small {
  display: block;
  color: #ff7a7a;
  position: absolute;
  bottom: 0.5em;
  right: 0;
}
.main form .form-group.success input {
  border-color: #38cc8c;
}
.main form .claim {
  padding: 1.5rem;
  background-color: #38cc8c;
  width: 100%;
  margin: 0 auto;
  border: 2px solid #38cc8c;
  outline: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.main form .claim:hover {
  background-color: #75dbaf;
}
.main form .claim:focus {
  box-shadow: 0 0px 2px 5px #75dbaf8e;
}
.main form p {
  color: #b9b6d3;
  font-size: 0.7rem;
  margin: 1rem;
}
.main form p .terms {
  color: #ff7a7a;
  font-weight: 700;
  line-height: 2em;
  cursor: pointer;
}

@media (min-width: 1120px) {
  body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    margin: 5rem 2rem 0;
  }
  body .header {
    grid-column: 1/7;
    grid-row: 1/2;
    text-align: left;
    margin-top: 10rem;
  }
  body .header h1 {
    font-size: 3rem;
    line-height: 1.1em;
  }
  body .header p {
    margin: 0;
    margin-top: 2rem;
    max-width: 700px;
    width: 100%;
  }
  body .main {
    grid-column: 7/13;
    grid-row: 1/2;
    width: 100%;
    max-width: 700px;
  }
  body .main form {
    padding: 2rem 2rem 1rem;
  }
  body footer {
    grid-column: 1/13;
    grid-row: 2/3;
  }
}
@media (min-width: 1230px) {
  body {
    margin: 5rem 7rem 0;
  }
}